{{define "main"}}
<form method="POST">
	<input class="input" type="text" placeholder="Name" name="name" />
	<input class="input" type="text" placeholder="Slug" name="slug" />
	<input class="input" type="text" placeholder="Broker Client ID" name="broker-client-id" />
	<input class="input" type="text" placeholder="Broker Address" name="broker-address" value="broker.emqx.io" />
	<input class="input" type="numeric" placeholder="Broker Port" name="broker-port" value="1883" />
	<input class="input" type="text" placeholder="Broker Protocol" name="broker-protocol" value="tcp" />
	<button class="button button--primary">Save</button>
</form>
{{end}}
