{{define "main"}}

<header class="dashboard-header">
	<div class="dashboard-header-title">{{.Project.Name}}</div>

	<!-- EDIT-VIEW-MODE-SELECTOR -->
	<div class="dashboard-mode-selector">
		<div class="dashboard-mode-selector-option dashboard-mode-selector-option-display">Display mode</div>
		<input id="dashboard-mode-selector" type="checkbox" />
		<div class="dashboard-mode-selector-option dashboard-mode-selector-option-edit">Edit mode</div>
	</div>
	<!-- EDIT-VIEW-MODE-SELECTOR -->

	<div class="dashboard-header-connection">
		<div id="project-connection-status"></div>

		<div class="dashboard-header-connection-actions">
			<form method="POST" action="/projects/{{.Project.Slug}}/connect">
				<button class="button button--secondary">Connect</button>
			</form>

			<form method="POST" action="/projects/{{.Project.Slug}}/disconnect">
				<button class="button button--secondary">Disconnect</button>
			</form>
		</div>
	</div>
</header>

<main class="dashboard-main">

<!-- SECTIONS -->
<div class="project-sections">

	{{$slug := .Project.Slug}}
	{{range .Sections}}
	<!-- SECTION -->
	<div class="project-section">
		<h2 class="project-section-title">{{.Name}}</h2>

		<!-- WIDGETS -->
		<div class="project-widgets">

			{{range .Widgets}}
			<!-- WIDGET -->
			<div class="project-widget" data-widget-id="{{.ID}}">
				<div data-widget-edit-mode style="display: none;">
					<form method="POST" action="/projects/{{$slug}}/delete-widget">
						<input type="hidden" name="id" value="{{.ID}}" />
						<button>DELETE</button>
					</form>

					<button data-edit-widget-button data-edit-widget-id="{{.ID}}">EDIT</button>
					<!-- NEW WIDGET DIALOG -->
					<dialog class="edit-widget-dialog" data-edit-widget-dialog-id="{{.ID}}">
						<header class="new-widget-dialog-header">
							<div class="new-widget-dialog-header-title">Edit widget</div>
							<button data-edit-widget-close-button class="button button--secondary">Close</button>
						</header>
						<form method="POST" action="/projects/{{$slug}}/edit-widget">
							<input style="display: none;" type="hidden" name="id" value="{{.ID}}" />
							{{if eq .Widget "TEXT"}}
							<input class="input" type="text" name="topic" placeholder="Topic" value="{{.ConfigParsed.Topic}}" />
							{{else if eq .Widget "BUTTON"}}
							<input class="input" type="text" name="topic" placeholder="Topic" value="{{.ConfigParsed.Topic}}" />
							<input class="input" type="text" name="message" placeholder="Message" value="{{.ConfigParsed.Message}}" />
							{{else if eq .Widget "INDICATOR"}}
							<input class="input" type="text" name="topic" placeholder="Topic" value="{{.ConfigParsed.Topic}}" />
							<input class="input" type="text" name="on-condition" placeholder="ON condition" value="{{.ConfigParsed.OnCondition}}" />
							<input class="input" type="color" name="color" value="{{.ConfigParsed.Color}}" />
							{{end}}
							<button class="button button--primary">Save</button>
						</form>
					</dialog>
					<!-- NEW WIDGET DIALOG -->
				</div>

				<div>{{.Widget}}</div>
				{{if eq .Widget "TEXT"}}
				<div data-widget-value>-- NO DATA --</div>
				{{else if eq .Widget "INDICATOR"}}
				<div data-widget-value>-- NO DATA --</div>
				{{else if eq .Widget "BUTTON"}}
				<form method="POST" action="/projects/{{$slug}}/submit-value">
					<input style="display: none;" type="hidden" value="{{.ID}}" name="id" />
					<button class="button button--primary">Submit</button>
				</form>
				{{end}}
			</div>
			<!-- WIDGET -->
			{{end}}

			<!-- NEW WIDGET -->
			<div class="new-widget">
				<div class="project-widget">
					<div>Add new widget</div>
				</div>

				<!-- NEW WIDGET DIALOG -->
				<dialog class="new-widget-dialog" data-new-widget-section-id="{{.ID}}">
					<header class="new-widget-dialog-header">
						<div class="new-widget-dialog-header-title">New widget</div>
						<button class="button button--secondary close-new-widget-dialog">Close</button>
					</header>

					<div data-new-widget-selector class="new-widget-widgets">
						<button onclick="selectNewWidget('text', '{{.ID}}')">Text</button>
						<button onclick="selectNewWidget('button', '{{.ID}}')">Button</button>
						<button onclick="selectNewWidget('indicator', '{{.ID}}')">Indicator</button>
					</div>

					<form data-new-widget-text method="POST" action="/projects/{{$slug}}/new-widget" style="display: none;">
						<input style="display: none;" type="hidden" name="id" value="{{.ID}}" />
						<input style="display: none;" type="hidden" name="widget" value="TEXT" />
						<input class="input" type="text" name="topic" placeholder="Topic" />
						<button class="button button--primary">Add</button>
					</form>

					<form data-new-widget-button method="POST" action="/projects/{{$slug}}/new-widget" style="display: none;">
						<input style="display: none;" type="hidden" name="id" value="{{.ID}}" />
						<input style="display: none;" type="hidden" name="widget" value="BUTTON" />
						<input class="input" type="text" name="topic" placeholder="Topic" />
						<input class="input" type="text" name="message" placeholder="Message" />
						<button class="button button--primary">Add</button>
					</form>

					<form data-new-widget-indicator method="POST" action="/projects/{{$slug}}/new-widget" style="display: none;">
						<input style="display: none;" type="hidden" name="id" value="{{.ID}}" />
						<input style="display: none;" type="hidden" name="widget" value="INDICATOR" />
						<input class="input" type="text" name="topic" placeholder="Topic" />
						<input class="input" type="text" name="on-condition" placeholder="ON condition" />
						<input class="input" type="color" name="color" />
						<button class="button button--primary">Add</button>
					</form>

				</dialog>
				<!-- NEW WIDGET DIALOG -->
			</div>
			<!-- NEW WIDGET -->

		</div>
		<!-- WIDGETS -->
	</div>
	<!-- SECTION -->
	{{end}}

	<!-- NEW SECTION FORM -->
	<form method="POST" action="/projects/{{$slug}}/new-section">
		<div>New section</div>
		<input type="hidden" name="id" value="{{.Project.ID}}" />
		<input type="text" name="name" placeholder="Name" />
		<button>Add</button>
	</form>
	<!-- NEW SECTION FORM -->

</div>
<!-- SECTIONS -->

</main>
{{end}}

{{define "scripts"}}
<script>
	let dashboardMode = "DISPLAY";
	let dashboardModeSelector = document.getElementById("dashboard-mode-selector");
	dashboardModeSelector.addEventListener('click', () => {
		if (dashboardMode == "DISPLAY") {
			dashboardMode = "EDIT";

			const els = document.querySelectorAll('[data-widget-edit-mode]');
			for (let i = 0; i < els.length; i++) {
				els[i].style.display = "block";
			}
		} else {
			dashboardMode = "DISPLAY";

			const els = document.querySelectorAll('[data-widget-edit-mode]');
			for (let i = 0; i < els.length; i++) {
				els[i].style.display = "none";
			}
		}
	})

	// Edit buttons
	const editButtons = document.querySelectorAll('[data-edit-widget-button]');
	for (let i = 0; i < editButtons.length; i++) {
		const id = editButtons[i].dataset.editWidgetId;
		console.log(id);
		const editDialog = document.querySelector('[data-edit-widget-dialog-id="' + id + '"]');
		const closeButton = editDialog.querySelector('[data-edit-widget-close-button]');
		editButtons[i].addEventListener('click', (e) => {
			editDialog.showModal();
		});

		closeButton.addEventListener('click', (e) => {
			editDialog.close();
		});
	}

	let newWidgetButtons = document.querySelectorAll(".new-widget");

	for (let i = 0; i < newWidgetButtons.length; i++) {
		let dialog = newWidgetButtons[i].querySelector("dialog");
		if (dialog == undefined) {
			continue;
		}

		let closeButton = dialog.querySelector(".close-new-widget-dialog");
		closeButton.addEventListener('click', () => {
			dialog.close();

			const forms = dialog.querySelectorAll("form");
			for (let j = 0; j < forms.length; j++) {
				forms[j].style.display = "none";
			}

			dialog.querySelector('[data-new-widget-selector]').style.display = "block";
		})

		newWidgetButtons[i].querySelector(".project-widget").addEventListener('click', () => {
			dialog.showModal();
		})
	}

	function selectNewWidget(widget, sectionID) {
		const dialog = document.querySelector('[data-new-widget-section-id="' + sectionID + '"]');
		dialog.querySelector('[data-new-widget-' + widget + ']').style.display = "block";
		dialog.querySelector('[data-new-widget-selector]').style.display = "none";
	}

	function fetchStatus() {
		let connectionStatus = document.getElementById("project-connection-status");

		fetch('/projects/{{.Project.Slug}}/connection').then(res => res.text()).then(data => {
			connectionStatus.innerHTML = data;
			setTimeout(fetchStatus, 2000)
		})
	}

	function fetchData() {
		fetch('/projects/{{.Project.Slug}}/data').then(res => res.json()).then(data => {
			if (data == null || data == undefined) return;

			for (let i = 0; i < data.length; i++) {
				let widget = document.querySelector('[data-widget-id="' + data[i].ID + '"]');
				if (!widget) continue;
				let value = widget.querySelector('[data-widget-value]');
				if (!value) continue;
				if (data[i].Data == undefined || data[i].Data == null) {
					value.innerHTML = "-- NO DATA --";
				} else {
					value.innerHTML = data[i].Data;
				}
			}

			setTimeout(fetchData, 2000)
		})
	}

	fetchStatus()
	fetchData()

</script>
{{end}}
