/* Core.css */

:root {
	--text: #2F2F2F;
	--primary: #FEAB2F;
	--light-primary: #F5C06F;
	--secondary: #E3E3E3;

	--white: #ffffff;
	--black: #2f2f2f;
	--gray: #E3E3E3;
	--light-gray: #EEE;
	--red: #D85454;
	--light-red: #EB6C6C;
	--green: #2FD235;
	--light-green: #65D76A;

	--border-color: #ccc;
	--border-width: 1px;
	--radius: 0px;
}

* {
	margin: 0;
	padding: 0;
	font-family: system-ui;
	box-sizing: border-box;
	color: var(--text);
}

html, body {
	background-color: var(--white);
}

/* BUTTON */
.button {
	display: inline-block;
	text-decoration: none;
	padding: 8px 12px;
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	border-radius: var(--radius);
}

.button--small {
	padding: 6px 10px;
	font-size: 14px;
}

.button--primary {
	background-color: var(--primary);
	color: var(--white);
}

.button--primary:hover {
	background-color: var(--light-primary);
}

.button--secondary {
	background-color: var(--secondary);
	color: var(--black);
}

.button--secondary:hover {
	background-color: var(--light-gray);
}

.button--danger {
	color: var(--white);
	background-color: var(--red);
}

.button--danger:hover {
	background-color: var(--light-red);
}
/* BUTTON */

/* INPUT */
.input {
	padding: 8px 12px;
	font-size: 16px;
	border: var(--border-width) solid var(--border-color);
	border-radius: var(--radius);
}
/* INPUT */

/* AUTH-CONTAINER */
.auth-main {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.auth-container {
	max-width: 350px;
	width: 100%;
}

.auth-container h1 {
	margin-bottom: 20px;
}
/* AUTH-CONTAINER */

/* FORM */
.form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 8px;
}

.auth-form {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.form-col {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.form-col label {
	font-size: 14px;
	color: var(--text);
}
/* FORM */

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	border-width: 0 2px 0 2px;
	border-color: #000;
	border-style: solid;
}

/* HEADER */
.container > header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

.container > header > nav {
	display: flex;
	gap: 6px;
	align-items: center;
}

.container > header > nav a {
	font-size: 18px;
	text-decoration: none;
	color: #000;
}

.header-logo {
	text-decoration: none;
	font-weight: 600;
	font-size: 24px;
	color: #000;
}
/* HEADER */

/* MAIN */
.container > main {
	padding: 20px;
	flex-grow: grow;
}
/* MAIN */

/* DASHBOARD-HEADER */
.dashboard-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px;
	border-bottom: var(--border-width) solid var(--border-color);
}

.dashboard-header-left {
	display: flex;
	align-items: center;
	gap: 6px;
}

.dashboard-header-right {
	display: flex;
	align-items: center;
	gap: 6px;
}

.dashboard-header-icon-button {
	padding: 6px 8px;;
	background: transparent;
	border: none;
	border-radius: var(--radius);
	cursor: pointer;
}

.dashboard-header-icon-button:hover {
	background: var(--gray);
}

.dashboard-header-mode-button {
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 6px 8px;
	background: transparent;
	border: var(--border-width) solid var(--border-color);
	border-radius: var(--radius);
	cursor: pointer;
	font-weight: 600;
}

.dashboard-header-mode-button:hover {
	background: var(--secondary);
}

.dashboard-header-title {
	font-size: 18px;
	font-weight: 600;
}

.dashboard-header-connection-button {
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 7px 12px;
	font-weight: 600;
	background: transparent;
	border: var(--border-width) solid var(--border-color);
	border-radius: var(--radius);
	cursor: pointer;
}

.dashboard-header-connection-button:hover {
	background: var(--gray);
}

.dashboard-header-connection-button-status {
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.dashboard-header-connection-actions {
	display: flex;
	align-items: center;
	gap: 6px;
}

.dashboard-mode-selector {
	display: flex;
	align-items: center;
	gap: 8px;
}

.dashboard-mode-selector-option {
	font-size: 14px;
}

.dashboard-mode-selector-option-display {
}

.dashboard-mode-selector-option-edit {
}
/* DASHBOARD-HEADER */

/* DASHBOARD-MAIN */
.dashboard-main {
	padding: 8px;
}
/* DASHBOARD-MAIN */

/* PROJECT SECTIONS */
.project-sections {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-top: 10px;
}

.project-section {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.project-section-header {
	display: flex;
	align-items: center;
	gap: 6px;
}

.project-section-header-button {
	padding: 6px;
	background-color: transparent;
	border: none;
	border-radius: var(--radius);
	cursor: pointer;
}

.project-section-header-button:hover {
	background-color: var(--gray);
}

.project-section-header-button--danger {
	background: var(--red);
	color: var(--white);
}

.project-section-header-button--danger svg {
	fill: var(--white);
}

.project-section-header-button--danger:hover {
	background: var(--light-red);
}

.project-section-title {
	font-size: 24px;
	font-weight: 600;
	color: var(--text);
}

.project-widgets {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

.project-widget {
	height: fit-content;
	padding: 6px;
	border: var(--border-width) solid var(--border-color);
	border-radius: var(--radius);
}

.new-widget > .project-widget {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 6px;
	padding: 20px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	height: fit-content;
}

.new-widget > .project-widget:hover {
	background-color: var(--gray);
}

.new-widget-widgets {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 6px;
}

.project-widget-edit-toolbar {
	display: flex;
	align-items: center;
	gap: 6px;
	padding-bottom: 8px;
}

.project-widget-title {
	font-size: 14px;
	font-weight: 500;
	color: var(--text);
	padding-bottom: 8px;
}

.project-new-section {
	display: flex;
	flex-direction: column;
	gap: 6px;
	padding: 8px;
	border-top: var(--border-width) solid var(--border-color);
}
/* PROJECT SECTIONS */

/* NEW-WIDGET-DIALOG */
.new-widget-dialog,
.edit-widget-dialog {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border: var(--border-width) solid var(--border-color);
	border-radius: var(--radius);
}

.new-widget-dialog-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	padding-bottom: 10px;
}

.new-widget-dialog-header-title {
	font-size: 18px;
	font-weight: 600;
}

.new-widget-dialog form,
.edit-widget-dialog form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 6px;
}

.new-widget-dialog form button,
.edit-widget-dialog form button {
	grid-column: 1 / 2;
}
/* NEW-WIDGET-DIALOG */

/* DASHBOARD-TABLE */
.dashboard-table {
	
}

.dashboard-table table {
	width: 100%;
	border-collapse: collapse;
}

.dashboard-table thead tr th {
	font-size: 14px;
}

.dashboard-table tr th,
.dashboard-table tr td {
	text-align: left;
	padding: 6px;
}

.dashboard-table tbody tr:hover {
	cursor: pointer;
	background-color: var(--gray);
}

.dashboard-table-actions {
	display: flex;
	align-items: center;
	gap: 8px;
	justify-content: flex-end;
}

.dashboard-table-actions a {
	text-decoration: none;
}

.dashboard-table-actions button {
	display: flex;
	align-items: center;
	gap: 4px;
	font-weight: 600;
	background: transparent;
	border: none;
	border-radius: var(--radius);
	cursor: pointer;
}
/* DASHBOARD-TABLE */
